<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    <script src = "//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
    <header><img src = "/img/logo.jpg" alt = "Wine 알지도 못하는 사람들"></header>
    {{{body}}}
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
</body>
</html>
